{# @var Model \rnpagebuilder\PageBuilder\Renderers\Blocks\CalendarRenderer\CalendarRenderer #}

<div>
    {% if Model.Options.Label!='' %}
        <label class="rnBlockLabel">{{ Model.Options.Label }}</label>
    {% endif %}
    <div class="CalendarContainer" style="border: 1px solid #dfdfdf;border-top: none;">

    </div>
</div>