{% extends "PageGenerator/Blocks/Core/BlockBase.twig" %}
{# @var Model \rnpagebuilder\PageGenerator\Blocks\VideoBlock\VideoBlock #}
{% block content %}
    {{ AddStyle('ImageBlock','PageGenerator/Blocks/VideoBlock/VideoBlock.css') }}
    {% if Model.GetURL!='' %}
        <div class="videoContainer" {{ Model.GetAttributes }}>
            <video {{ Model.GetAttributes() }}>
                <source src="{{ Model.GetURL }}"/>
            </video>
        </div>
    {% endif %}
{% endblock %}