{# @var Model \rnpagebuilder\PageBuilder\Renderers\Blocks\Core\BlockRendererBase #}
<div class="rnblock {{ Model.Options.Type }}" data-id="{{ Model.Options.Id }}">
    {{ Model.SubRender() }}
</div>