{# @var Model \rnpagebuilder\PageBuilder\Renderers\Blocks\SearchBarRenderer\SearchFieldRenderer #}


<div style="width:calc(33.33% - 2px);margin-left:2px;display:inline-block;margin-bottom:5px;}}">
    <strong>{{ Model.Options.Label }}</strong>
    {{ Model.RenderInput() }}
</div>