{# @var FieldSettings \rnpagebuilder\core\Integration\Processors\Settings\Forms\Fields\TextFieldSettings #}
<div class="inputContainer renderer{{ FieldSettings.RendererType }}" >
    <input type="text" readonly="true" value="{{ FieldSettings.ParseStringValue(Value) }}"/>
</div>